@using MvcApp.Models;
@model IEnumerable<Summit>
@{
    ViewBag.Title = "List of Summits";
}
@if (false) {
    <script src="../../Scripts/jquery-1.4.4-vsdoc.js" type="text/javascript"></script>
}
<script type="text/javascript">

    $(document).ready(function () {

        $('table').addClass('summitTable');
        $('tr:even').css('background-color', 'silver');

        $('<th>Height (ft)</th>').insertAfter('th:nth-child(2)').addClass("heightFt");
        $('<td/>')
            .insertAfter('td:nth-child(2)')
            .each(function () {
                $(this).text((parseInt($(this).prev().text()) * 3.28).toFixed(0));
            })
            .addClass('heightFt');

        $('<button>Toggle Feet</button>').insertAfter('form[action$="/ResetSummits"]')
            .click(function () {
                $('.heightFt').toggle();
            });

        $(':submit[value="Reset"]').css('padding-bottom', '8px');
        $('a, :submit').button().css('float', 'left').css('margin', '5px');

        $('#slider').slider({
            range: true,
            min: 5000,
            max: 9000,
            values: [5000, 9000],
            slide: function (event, ui) {

                $('#min').text(ui.values[0]);
                $('#max').text(ui.values[1]);

                $('tbody tr').each(function () {
                    var height = parseInt($('td:eq(1)', this).text());
                    if (height < ui.values[0] || height > ui.values[1]) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });

                $('tr:visible:even').css('background-color', 'silver');
                $('tr:visible:odd').css('background-color', 'transparent');
            }
        });
    });

</script>

<h4>Summits</h4>
<table>
    <thead>
        <tr><th>Name</th><th>Height</th><th/></tr>
    </thead>
    @foreach (Summit s in Model) {
        <tr>
            <td>@s.Name</td>
            <td>@s.Height</td>
            <td>
                @using (Html.BeginForm("DeleteSummit", "Home")) {
                    @Html.Hidden("name", @s.Name)
                    <input type="submit" value="Delete" />   
                }
            </td>
        </tr>
    }
</table>

<label id="min">5000</label> 
<div id="slider"></div>
<label id="max">9000</label>
<div style="clear:both" />

@Html.ActionLink("Add", "AddSummit")
@using (Html.BeginForm("ResetSummits", "Home")) {
    <input type="submit" value="Reset" />
}